

<%= search_form_for @search do |f| %>
  <fieldset>
    <legend>User</legend>
    <ul>
      <li>
        <%= f.label :first_name_or_last_name_cont %>
        <%= f.text_field :first_name_or_last_name_cont %>
        <%= f.label :vacation_cont %>
        <%= f.text_field :vacation_cont %>
      </li>
      <li>
        <%= f.label :email_cont %>
        <%= f.text_field :email_cont %>
      </li>
    </ul>
  </fieldset>


<!--   <%= label_tag :distinct, 'Return distinct records?' %>
  <%= check_box_tag :distinct, '1', params[:distinct].to_i == 1 %> -->
  <%= f.submit %>
<% end %>

<%= render 'results' %>
